{% extends "base.html" %}
{% block content %}
<div class="container">
    <h3 class="mb-3">Attendance Report</h3>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Student</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for rec in records %}
            <tr>
                <td>{{ rec.student.name }}</td>
                <td>{{ rec.date }}</td>
                <td>{{ rec.time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
